BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Stroustrup
ColumnLimit: 100
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes